CSS
html{
    height: 100%;
    width:100%;

}

.main{
    text-align: center;
    border-color: grey;
    border-width: 5px;
    border-style: solid;
    margin-left: 400px;
    margin-right: 400px;
    background-image:url("Main_Background.jpg");
    background-size: cover;
}

.ergebnis{
    border: green 3px dashed;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;

}
