
html {
  height: 100%;
}

.main {
  margin: 0;
  height: 100%;
}

.table {
  border-style: none;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

.th {
  margin: 0;
  padding: 0;
  width: 33.3%;
  height: 100%;
}

.breakfast {
  height: 100%;
  background-image: url("breakfast.jpeg");
  background-size: cover;
}

.lunch {
  height: 100%;
  background-image: url("lunch.jpeg");
  background-size: cover;
}

.dinner {
  height: 100%;
  background-image: url("dinner.jpg");
  background-size: cover;
}

.transparent_box {
  margin: 10%;
  height: 50%;
  background-color: black;
  opacity: 80%;
  border-radius: 25px;

}

.bottomButtons {
  width: 100%;
  bottom: 5%;
  position: absolute;
}

#bSpeichereGericht {
  width: 40%;
  margin-left: 30%;
  padding-top: 1%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1%;
  font-family: 'Amatic SC', sans-serif;
  color: white;
  font-size: 20pt;
  background-color: #3742fa;
  border-style: none;
  border-radius: 25px;
}

#bZeigeKalorien {
  width: 15%;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 1%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1%;
  font-family: 'Amatic SC', sans-serif;
  color: white;
  font-size: 20pt;
  background-color: #44bd32;
  border-style: none;
  border-radius: 25px;
}

h1 {
  margin: 0;
  padding-top: 15%;
  padding-left: 10%;
  text-align: left;
  color: white;
  font-family: 'Amatic SC', sans-serif;
  font-size: 60pt;
}
