#sec_3 {
  background-image:url("index_background.jpg");
  background-size: cover;
  height: 100%;
}
#daily_record {
  height: 300px;
  weight:700px;
background-color: black;
opacity: 80%;
border-radius: 0px;
color: white;
overflow-y: scroll;
overflow-x:hidden;
padding-top: 15px;
}
hr{
size: 6;
width: 100%;
color: white;
}
.column{
height: 30px;
width: 50%;
padding-left: 2%;


}
