CSS
html{
    height: 100%;
    width:100%;
}

.main{
    text-align: center;
    background-image:url("index_background.jpg");
    background-size: cover;
}

.EingabenTitel{
    text-align: left;
    margin-left: 20px;
}

.eingabe{
    color: white;

}

.ergebnis{
    width: 400px;
    height: 120px;
    border: green 3px dashed;
    margin-left: 20%;
    margin-right: 20%;
    color: white;
}

.button1{
    height: 50px;
    width: 300px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    background-color: green;
    border: none;
    margin-bottom: 20px;
    opacity: 100%;
    border-radius: 25px;
    cursor: pointer;

}

.button1:hover{
    background-color: #003300;
}

.button1:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.transparent_box {
    height: 600px;
    width: 700px;
    background-color: black;
    opacity: 80%;
    border-radius: 25px;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
}
